
    <div class="container">
		<div class="row">
                <div class="col-md-2">
					<a routerLink="/staff/add" class="btn btn-success"><i class="fa fa-plus-square"></i> Add </a>
				</div>
			<!--div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]"-->
			<div class="col-md-8">
				<h1 style="text-align: center; margin-bottom : 15px">List of employees</h1>
				<ul class="event-list">
					<li *ngFor="let user of users" >
						<time datetime="2014-07-20">
							<span class="day">
                                <i class="fa fa-user"></i>
                            </span>
							
						</time>
						<div class="info">
							<h2 class="title">{{ user.name }} {{ user.lname }}</h2>
							<p class="desc"> <i class="fa fa-phone"></i> {{ user.phone }}</p>
							<p class="desc"> <i class="fa fa-envelope-square"></i> {{ user.email }}</p>
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>
                   
                </ul>
               
				  <nav aria-label="Page navigation example">
				  <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
					<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
						<a style="cursor : pointer" class="page-link" (click)="setPage(1)">&laquo;</a>
					</li>
					<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
						<a style="cursor : pointer" class="page-link" (click)="setPage(pager.currentPage - 1)">&lt;</a>
					</li>
					<li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
						<a style="cursor : pointer" class="page-link" (click)="setPage(page)">{{page}}</a>
					</li>
					<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a style="cursor : pointer" class="page-link" (click)="setPage(pager.currentPage + 1)">&gt;</a>
					</li>
					<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a style="cursor : pointer" class="page-link" (click)="setPage(pager.totalPages)">&raquo;</a>
					</li>
				</ul>
			</nav>

			</div>
			<div class="col-md-2">
				<label for="" style="font-weight: 500;">Per page: </label>
				<select style="cursor: pointer; border-radius: 5px;" (change)="listen()" [(ngModel)]="model" name="choice">
					<option style="cursor: pointer" *ngFor="let item of selection" [value]="item">{{item}}</option>
				</select>

			</div>
		</div>
	</div>
