<div class="header">
    <nav class="navbar navbar-default" style="padding: 0">
                <div class="navbar-header">
                    <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button-->
                    <h1 style="margin-bottom: 0"><a routerLink="/">Transporters</a></h1>
                </div>
                
                <!--div class=" navbar-collapse" id="bs-example-navbar-collapse-1" style="display: inline"-->
                    <ul class="nav navbar-nav navbar-right" style="display: inline">
                        <li><a class="hvr-underline-from-center active" routerLink="/">Home</a></li>
                        <li><a href="services.html" class="hvr-underline-from-center">Services</a></li>
                        <li><a *ngIf="auth.isLoggedIn()" routerLink="/staff/list" class="hvr-underline-from-center scroll scroll">Team</a></li>
                        <li><a routerLink="/entreprise/view" *ngIf="auth.isLoggedIn() && auth.getUserDetails().role === 'owner'" class="hvr-underline-from-center">My entreprise</a></li>
                        
                        <li>
                            <a *ngIf="!auth.isLoggedIn()" routerLink="/user/login" class="hvr-underline-from-center">Login</a>
                            <a *ngIf="auth.isLoggedIn() && auth.getUserDetails().role == 'customer' " style="cursor: pointer" class="hvr-underline-from-center"> <i class="fa fa-shopping-cart"></i>  My cart</a>
                            <a *ngIf="auth.isLoggedIn()" style="cursor: pointer" (click)="auth.logout()" class="hvr-underline-from-center">Logout</a>
                    </ul>
                <!--/div-->
                <!-- navbar-header -->
               

                <div class="clearfix"> </div>	
            </nav>

</div>