
<div class="container register">
    <form #addForm="ngForm" >
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You have to login before, 
                              Only provider can add new product</p>
                    </div>
                    <div class="col-md-9 register-right">
                    
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Add new product</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Wording *" name="wording"  required [(ngModel)]="product.wording" />
                                        </div>

                                 
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Quantity *" name="quantity" required [(ngModel)]="product.quantity" />
                                        </div>



                                        <div class="form-group">
                            
                                             <input  class="form-control" type="text" onfocus="(this.type='date')" placeholder=" Date manufacture *" name="fabDate" required  [(ngModel)]="product.fabDate" > 
                                         
                                          </div>


                                        <div class="form-group">
                                            <input class="form-control" type="text" onfocus="(this.type='date')" placeholder=" Expiration date *"  name="expDate" required [(ngModel)]="product.expDate"> 
                                        </div>



                                       
                                    </div>
                                    <div class="col-md-6">


                                          <div class="form-group">
                                                <input type="number" step="0.1" min="0" class="form-control"  placeholder="Unit price *" name="price" required [(ngModel)]="product.price"/>
                                            </div>
                                        <div class="form-group">
                                            <select class="form-control" name="category" [(ngModel)]="product.category" >
                                                <option class="hidden"  selected disabled>Please select your product category</option>
                                                <option>drink</option>
                                                <option>Fruits and vegetables</option>
                                                <option>Cereals</option>
                                                <option>Dairy products</option>
                                                <option>Meat fish egg</option>
                                                <option>Fatty products</option>
                                                <option>Pasta</option>
                                                <option>Pastry product</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                             <textarea class="form-control"  placeholder="Description *" name="description" required [(ngModel)]="product.description"></textarea>
                                         </div>

                                      
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <img [src]="imgURL" style="max-height: 160px" alt="">
                                        <input type="file" name="photo" #file accept='image/*' (change)="updatePreview(file.files)" ng2FileSelect [uploader]="uploader" />

                                    </div>

                                    <div class="col-md-4">
                                        <input type="submit" class="btnRegister"  value="Add"
                                        (click)="uploader.uploadAll()" 
                                        [disabled]="!uploader.getNotUploadedItems().length || addForm.invalid"/>
                                    </div>
                                </div>
                            </div>
                          
                                </div>
                        
                </div>

            </div>
        </form>
           



            </div>